<virtual-scroller *ngIf="model" #scroll [items]="model" [parentScroll]="scroll.window">
	<div #container>
		<div class="tile tile-centered mb-2" *ngFor="let resource of scroll.viewPortItems; let i = index;" [ngClass]="{'tile-odd': resource.id % 2}">
			<div class="tile-icon">
				<div class="tile-icon-inner">
					{{resource.id + 1}}
				</div>
			</div>
			<div class="tile-content">
				<p class="tile-title">{{resource.name | titlecase}}</p>
			</div>
			<div class="tile-action">
				<a [routerLink]="['/pokemon', resource.name]" class="btn">
					View
				</a>
			</div>
		</div>
	</div>
</virtual-scroller>