@import "_variables";

.content {
	margin: 1.2rem auto 0 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 4rem;
    width: calc(100vw - 12rem);
}

@media screen and (max-width: $size-lg) {
	.content {
		min-width: auto;
		padding: 0 1.6rem;
		width: 100%;
	}
}

@media screen and (max-width: $size-xs) {
	.content {
		padding: 0 0.4rem;
	}
}

@media screen and (max-width: $size-xxs) {
	.xxs-hidden {
		display: none;
	}
}


.navbar {
	position: sticky;
    z-index: 1;
	top: 0;
}

.navbar-center {
    font-size: 1rem;
    font-weight: 100;
}

.btn-link.active {
	background: darken($primary-color, 12%);
	cursor: default;
}