<header class="navbar bg-primary p-2">
	<section class="navbar-section">
		<a [routerLink]="['/pokemon-list']" class="btn btn-link  text-light">All Pokemon</a>
	</section>
	<section class="navbar-center text-light">
		Pokedex
	</section>
	<section class="navbar-section">
		<a [routerLink]="['/my-pokemon-list']" class="btn btn-link text-light">My Pokemon <ng-container
				*ngIf="myPokemonService.myPokemon && myPokemonService.myPokemon.length > 0">
				({{myPokemonService.myPokemon.length}})
			</ng-container>
		</a>
	</section>
</header>
<div class="content">
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</div>