
// $primary-color: #2e5bec;
// $dark-color: #3e396b;
@import "_variables";

// Import full Spectre source code
@import "../node_modules/spectre.css/src/spectre";

html {
	height: 100%;
}

body {
	overflow-x: initial;
}

.mb-4 {
	margin-bottom: 0.8rem !important;
}

.shadow {
	box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
}

.img-pixelated {
    image-rendering: pixelated;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-1 {
	flex: 1;
}

.flex-align-items-center {
	display: flex;
	align-items: center;
}